
#container{
  width: auto;

}
div{
  margin: 5px;
  overflow: auto;
}
.birinci{
  border:1px solid blue;
  float: left;
}
.ikinci{
  border:1px solid coral;
  float: left;
}
.ucuncu{
  border:1px solid green;
  float: left;
}
.dorduncu{
  border:1px solid darkcyan;
  float: left;
}


